@media (max-width: 1100px) {
	.contact-us {
		padding: 40px;
		padding-top:95px;
	}

	.all-text {
		width:500px;
	}
}

@media (max-width: 992px) {

	.world-map {
		display:none;
	}

	.mobile-responsive {
		display:block;
	}
	
	.CTA-Three {
		padding-bottom: 25px;	
	}

	.CTA-Four {
		display:none;
	}

	.CTA-Five {
		display:none;
	}

	.CTA-Six {
		display:none;
	}

	.all-text {
		text-align:center;
		float:none;
		width:100%;
		max-width:640px;
		margin-left:auto;
		margin-right:auto;
	}

	.contact-us {
		float:none;
		width:100%;
		max-width:640px;
		margin-left:auto;
		margin-right:auto;
		padding:70px;
		padding-top:95px;
		box-sizing: border-box !important;
	}
	
	

	.autofill-linkedin {
		background-image:url("li-large.png");
	}

	.autofill-linkedin:hover {
		background-image:url("li-large-1.png");
	}	
}

@media (max-width: 568px) {
	.CTA-Five-Mobile {
		float:none;
		width:100%;
	}

	.CTA-Six-Mobile	{
	margin-top:50px;
		float:none;
		width:100%;
	}
	
}

@media (max-width: 512px) {

	.menu-items {
		display: none;
	}

	.hcl-logo {
		float:none;
		margin-left:auto;
		margin-right:auto;
		text-align:center
	}

	.all-text {
		text-align:center;
		float:none;
		width:100%;
		max-width:640px;
		margin-left:auto;
		margin-right:auto;
	}

	.contact-us {
		float:none;
		width:100%;
		max-width:640px;
		margin-left:auto;
		margin-right:auto;
		padding:40px;
		padding-top:95px;
		box-sizing: border-box !important;
	}
}

@media (max-width: 384px) {
	.everything {
		padding-left:0;
		padding-right:0;
	}

	.all-text {
		padding-left:25px;
		padding-right:25px;
		box-sizing:border-box;
	}

	.contact-us {
		width:95%;
		background-image:none;
	}

	.mobile-responsive {
		width:95%;
	}
	
	.CTA-One {
		display:none;
	}

	.CTA-Two {
		font-size:14px;
	}

	.CTA-Three {
		display:none;
	}
}