/* RTL CSS */

.modal-background {
	height: 100%;
	width: 100%;
	position: fixed;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.3);
	z-index: 100;
	display: none;
	opacity: 0;
	transition: 0.2s ease-in;
}

.modal-window {
	height: 500px;
	width: 600px;

	/* Vertical Center */
	position: fixed;
	top: 50%;
	transform: translateY(-50%);

	background-color: #ffffff;
	z-index: 101;

	right: 50%;
	margin-right: -300px;
	border-radius: 2px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

	display: none;
	opacity: 0;
	transition: 0.2s ease-in;
}

.close-button {
	position: absolute;
	height: 40px;
	width: 40px;

	top: 0px;
	left: 0px;
	background-image: url(../img/close-black.svg);
	background-position: center;
	background-size: 24px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.modal-video {
	width: 600px;
	height: 337.5px;
	background-color: #ffffff;
	background-image: url(../img/merchandize.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.modal-info {
	width: 100%;
	height: 162.5px;
}

.modal-icon {
	display: block;
	height: 100%;
	width: 162.5px;
	background-image: url(../img/disney-white-small.jpg);
	background-size: 120px;
	background-position: center;
	background-repeat: no-repeat;
	float: right;
}

.modal-separator {
	float: right;
	height: 100%;
	width: 3px;
	position: relative;
}

.modal-separator-container {
	background-color: #FA0000;
	height: 64px;
	width: 3px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.modal-text {
	width: 394.5px;
	padding: 20px;
	height: calc(100% - 40px);
	background-color: white;
	float: right;
	margin: auto; 
}

/* Total Height: 162.5px */

.modal-head {
	width: 100%;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-desc {
	padding-top: 20px;
	text-align: left;
}