/* RTL CSS */

.tnc, .prizes {
	background-color: #ffffff;
	width: calc(600px - 64px);
	height: calc(90% - 64px);
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 50%;
	right: -300px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	z-index: 101;
	padding: 32px;
	border-radius: 2px;
	opacity: 0;
	display: none;
	transition: 0.2s ease-in;
}

.prizes {
	height: 320px;
	max-height: calc(90% - 64px);
}

.popups-close-button {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 0px;
	left: 0px;
	background-image: url(../img/close-black.svg);
	background-position: center;
	background-size: 24px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.popups-header {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #E70000;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 300;	
	letter-spacing: 2px;
	height: 30px;
	line-height: 30px;
	position: relative;
	display: inline;
}

.popups-header:after {
	content: 'Updated: 11 June 2017';
	position: absolute;
	font-size: 12px;	
	letter-spacing: 1px;
	color: rgba(0,0,0,0.5);
	font-weight: 400;
	top: 30px;
	right: 0px;
	width: 200px;
}

.popups-content {
	height: calc(100% - 62px);
	margin-top: 32px;
	overflow-y: scroll;
	width: 100%;
	font-size: 16px;
}

.popups-content ol {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #333;
	-webkit-font-smoothing:	antialiased;
	padding-right: 2em;
}

.popups-content li {
	padding-bottom: 8px;
}