/* RTL CSS */

html, body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: subpixel-antialiased; 
}

body {
	position: relative;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
 	-webkit-tap-highlight-color: transparent;
}

.top-image-container {
	width: 100%;
	height:	auto;
	z-index: 1;
}

.top-image {
	width: 100%;
	z-index: 1;	
}

.top-image-1280 {
	display: none;
		width: 100%;
	z-index: 1;	
}

.top-image-1024 {
	display: none;
		width: 100%;
	z-index: 1;	
}

.top-image-768 {
	display: none;
		width: 100%;
	z-index: 1;	
}

.down-arrow {
	margin-right: auto;
	margin-left: auto;
	margin-top: -70px;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	background-color: #D6001D;
	z-index: 100;
	position: relative;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: 0.2s ease;
}

.play-button {
	background-image: url("../img/play.svg");
	background-position: 37px;
	background-size: 72px;
}

.bubbles {
	height: 50px;
	width: 50px;
	background-color: #D6001D;
	opacity: 0.7;
	margin-right: 50%;
	margin-top:4px;
	border-radius: 50%;
	border: solid 12px #ffffff;
}

.bubbles:after {
	content: ' ';
	background-color: #D6001D;
	opacity: 0.5;
	height: 30px;
	width: 30px;
	position: absolute;
	border-radius: 50%;
	margin-top:52px;
	margin-right:64px;

}

.lmq-text-container {
	margin-right: auto;
	margin-left: auto;
	margin-top: 64px;
	width:80%;
}

.lmq-text {
	width:100%;
}

.offer-text {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: 300;
	color: #555;
	text-align: center;
	width: 90%;
	margin:auto;
	margin-top:100px;
	margin-bottom:80px;
	line-height: 40px;
}

.offers-container {
	background-color: #E70000;
	padding-top: 100px;
	padding-bottom: 100px;
	width:100%;
	text-align: center;
	box-shadow: inset 0 25px 25px -10px rgba(0,0,0,0.30), inset 0 -25px 25px -10px rgba(0,0,0,0.30);
}

.offers-parent {
	display: inline-block;
	width: auto;
}

sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.6em;
}

.offer-text-sup {
	font-size: 18px;
}

.offer {
	height: 400px;
	width: 280px;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	float:right;
	margin-left: 120px;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.o3 {
	margin-left: 0px;
}

.o1 .offer-icon .offer-image {

}

.o2 .offer-icon .offer-image {

}

.o3 .offer-icon .offer-image {
	height: 144px;
	margin-top: 18px;
	margin-bottom: 18px;
}

.offer-image {
	margin: auto;
	height: 128px;
	margin-top: 26px;
	margin-bottom: 26px;
}

.image-shadow {
	-webkit-filter: drop-shadow(0px 15px 8px rgba(0,0,0,0.15));
	filter: drop-shadow(0px 15px 8px rgba(0,0,0,0.15));
}

.offer-icon {
	height: 180px;
	width: 180px;
	margin: auto;

	background-position: center;
	background-size:130px;
	background-repeat: no-repeat;
}

.offer-division {
	display: block;
	height: 3px;
	width: 64px;
	background-color: #E70000;
	margin:12px;
	margin-right: auto;
	margin-left: auto;
}

.offer-head {
	font-family: "Peach Milk", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #E70000;
	text-align: center;
	font-size: 36px;
}

.offer-description {
	padding-right: 16px;
	padding-left: 16px;
	padding-top:20px;
	width: auto;
	color: #333;
	font-size: 22px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}


.counter {
	margin: auto;
	margin-top: 64px;
	margin-bottom: 64px;
	width: 272px;
	height:80px;
}

.counter-box {
	background-color: #DD2A81;
	color: #ffffff;
	font-family: "Peach Milk", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 80px;
	width: 80px;
	float: right;
	margin-left:16px;
	line-height: 80px;
	text-align: center;
	font-size: 54px;
	position: relative;
}

.box-m {
	margin-left: 0;
}

.counter-box:after {
	position: absolute;
	content: ' ';
	color: #CACACA;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	width:100%;
	height:26px;
	line-height: 26px;
	top:80px;
	right:0px;
}

.box-d:after {
	content: 'أيام';
}

.box-h:after {
	content: 'ساعات';
}

.box-m:after {
	content: 'دقائق';
}

.grey-section {
	padding-right:100px;
	padding-left:100px;
	background-color: #F0F0F0;
	margin-top: 200px;
	padding-bottom: 160px;
}

.tilt-top {
	position: relative;
	z-index:5;
}

.tilt-top:before {
	background: inherit;
	top: 0;
	content: '';
	display: block;
	height: 80%;
	right: 0;
	position: absolute;
	left: 0;
	z-index: -1;

	transform: skewY(-7deg);
	transform-origin: 0%;
}

.section-1 {
	width: 50%;
	float: right;
}

.section-2 {
	width: 50%;
	float: right;	
}

.enter-now {
	font-size: 100px;
	color: #00A0DB;
	font-family: "Peach Milk", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.three-steps {
	margin-top: 80px;
	position: relative;
}

.three-steps:before {
	position: absolute;
	content: ' ';
	width: 2px;
	height: 95%;
	top: 2.5%;
	right: 55px;
	z-index: 1; 
	background-color: #00A0DB;
}

.step {
	margin-bottom: 64px;
}

.step-3 {
	margin-bottom: 0;
}

.icon-number {
	height: 120px;
	width: 110px;
	line-height: 120px;
	text-align: center;
	color: #ffffff;
	font-family: "Peach Milk", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	background-image: url(../img/hexagon-rounded.svg);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	float: right;
	z-index: 20; 
	position: relative;
}

.step-text {
	float: right;
	width: 300px;
	margin-right:28px;
	padding-top:26px;
	font-weight: 300;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #333;
	max-width: calc(100% - 100px);
	height: 100px;
	overflow: hidden;
}

.start-button {
	margin-top: 64px;
	/*
	left: 50%;
	transform: translateX(-50%);
	*/
}

.products-image {
	margin-top:	196px;
	width: 100%
}

.button {
	background-color: black;
	color: #ffffff;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 16px;
	padding:12px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 2px;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	display: inline-block;
	-webkit-font-smoothing: subpixel-antialiased; 

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
 	-webkit-tap-highlight-color: transparent;
}

.shop-now {
	float: left;
	margin-top: 40px;
}

.quiz-1 {
	background-color: #ffffff;
	padding-bottom: 160px;
}

.quiz-2 {
	background-color: #F0F0F0;
	padding-bottom: 160px;
}

.quiz-3 {
	background-color: #ffffff;
	padding-bottom: 160px;
}

.quiz-number {
	color: #F3BB19;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 28px;
	text-transform: uppercase;
}

.quiz-break {
	height: 2px;
	width: 64px;
	background-color: #F3BB19;
	display: block;
	margin: auto;
	margin-top:12px;
}

.quiz-question {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 36px;
	font-weight: 300;
	margin: auto;
	margin-top:60px;
	text-align: center;
	width: 1024px;
}

.quiz-question sup {
	font-size: 24px;
}

.quiz-options {
	height:64px;
	width: 1200px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 32px;
}

.answer {
	width: 33.33%;
	width: calc(100%/3);
	height: 64px;
	float: right;
	text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
 	-webkit-tap-highlight-color: transparent;	
}

.ans-1 {
}

.ans-2 {
}

.ans-3 {
}

.answer-number {
	height: 64px;
	width: 64px;
	background-color: #F3BB19;
	float: right;
	font-family: "Peach Milk", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: 48px;
	line-height: 64px;
}

.answer-text {
	float: right;
	height:	64px;
	background-color: #F0F0F0;
	padding-right:16px;
	padding-left:16px;
	color: #333;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-align: right;
	line-height: 64px;
}

.answer-container {
	display: inline-block;
	transition: 0.2s ease;
	cursor: pointer;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 0 0 #ffffff, 0 0 0 #ffffff;
}

.selected-answer {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
	margin-top:-1px;
}

.answer-container:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.answer-container:active {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	margin-top:-1px;
}
.quiz-next {
	margin: auto;
	margin-top: 100px;
	height:120px;
	width: 120px;
	/* background-color: #F3BB19; */ /* On selecting the answer */
	background-color: #F0F0F0;
	border-radius: 50%;
	background-image: url("../img/down-girth.svg");
	background-size: 40px;
	background-position: center 45px;
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
 	-webkit-tap-highlight-color: transparent;	
}

.quiz-next-enabled {
	background-color: #FFBD00 !important;
}

.white-background {
	background-color: #ffffff;
}

.gray-down-arrow {
	background-image: url("../img/down-girth-gray.svg");
}

.cars-footer {
	padding-right: 100px;
	padding-left: 100px;
	background-color: #E70000;
	padding-bottom: 100px;
}

.footer-section-1 {
	width: 50%;
	float: right;
}

.footer-section-2 {
	width: 50%;
	float: right;
}

.cars-3-logo {
	width: 400px;
}

.footer-button {
	display: block;
	float: right; 
    clear: right;
    margin-top: 16px;
    position: relative;
}

.disney-copyright {
	color: #ffffff;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: right;
	clear: right;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;

	margin-top: 64px;
	opacity: 0.8;
}

.separator {
	color: #ffffff;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: right;
	clear: right;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	opacity: 0;	
	display: none;
}

.enter-s-1 {
	float: right;
	width: 50%;
}

.enter-s-2 {
	float: right;
	width: 50%;
	margin-top: 144px;
}

.enter-form {
	margin-top: 0;
	padding-bottom:80px;
}

.green {
	color: #00CE40;
}

.description-text {	
	color: #333;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 24px;
	font-size: 24px;
	font-weight: 300;
}

.submit-form {
	width: 100%;
	margin-top: 64px;
}

.form-field {
	width: 100%;
	height:40px;
	margin-top: 24px;
}

.form-label {
	float: right;
	height:40px;
	line-height: 40px;
	text-transform: uppercase;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 200px;
	color: #333;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}

.form-text {
	width: calc(100% - 200px);
	background-color: white;
	border-radius: 0px;
	float: right;
}

.input-field {
	width: 100%;
	border: none;
	height:40px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;	
	letter-spacing: 2px;
	background-color: white;
	border-radius: 0;
	outline: none;
}

.select-box {
	cursor: pointer;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
	background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+);
	background-position: calc(4px);
	background-repeat: no-repeat;	
}

.submit-button-container {
	margin: auto;
	text-align: center;
	padding-bottom: 220px;
}

.submit-button {
	margin:	auto;
	background-color: #FA0000;
	border: none;
}

.file-upload-box {
	box-shadow: 0 0 0 6px #E3E3E3;
	height: 408px;
	width: 408px;
	margin:	auto;
	background-color: #E3E3E3;
	border: 3px dashed #fff;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: 0.2s ease;
}

.file-default {
	position: absolute;
	top: -50px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 10;
	width: 100%;
	height: 120%;
}

.live-picture {
	position: absolute;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 9;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
}

.hint-text {
	z-index: 8;
	color: #AAAAAA;
	padding-top: 10px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;	
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	background-image: url(../img/boy.svg);
	background-size: 280px;
	background-repeat: no-repeat;
	background-position: bottom;
	transition: 0.2s ease;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
 	-webkit-tap-highlight-color: transparent;
}

.hidden {
	display: none;
}

form {
	margin: 0;
}