@media screen and (max-width: 1390px) {
    .lede-image {
        width: 60%;
    }
    .lede-app {
        width: 35%;
        padding-left: 5%;
    }
    .navigation {
        padding-left: 25px;
        padding-right: 25px;
    }
    .parent {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media screen and (max-width: 1024px) {
    .lede-image {
        width: 100%;
    }
    .lede-app {
        width: 100%;
        padding: 0;
        padding-top: 50px;
    }
    .logo {
        margin: auto;
        display: block;
    }
}