html, body {
    padding:0;
    margin:0;
    outline:0;
}

.overlay {
    height:100%;
    width:100%;
}

.video-container {
    position:relative;
}

.top-navigation {
    height:100px;
    background-color:#212121;
    padding-left:30px;
    padding-right:30px;
}

.logo {
    background-image:url('logo.png');
    width:300px;
    height:100px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    float:left;
}

.sign-in-form {
    float:right;
    height:100px;
}

.sign-in-element {
    float:left;
    height:30px;
    margin-top:35px;
    border:0;
    outline:0;
    margin-left:10px;
    font-family: Montserrat;
    padding-left:10px;
    font-size: 13px;
}

.button {
    padding-left:10px;
    padding-right:10px;
    background-color:#424242;
    color:white;
    cursor:pointer;
    line-height:30px;
}

.button:hover {
    background-color:#616161;
}

.banner-container {
    height:600px;
    width:100%;
    background-image:url("background.jpg?2");
    background-size:cover;
    background-position: bottom;
    position:relative;
}

.banner-text {
	font-family: Open Sans;
	font-weight:100;
	text-transform:;
	font-size:50px;
	text-align:center;
	background-color:rgba(0,0,0,0.3);
	width:auto;
	padding:125px;
	padding-left:275px;
	padding-right:275px;
	padding-top:175px;
	height:300px;
	color:#ffffff;
	position: relative;
}

.banner-button {
	padding:15px;
	color:#ffffff;
	background-color:#1B5E20;
	font-size:20px;
	font-family:Montserrat;
	text-transform:uppercase;
	bottom:0px;
	display:inline-block;
	cursor: pointer;
}

.banner-button:hover {
	background-color:#2E7D32;
}

.sign-up-button {
    display: block;
    float:left;
}

.registration-cta {
    width:1024px;
    margin:auto;
    padding-top:100px;
    padding-bottom:100px;
}

.sign-up-form {
    width:500px;
}

.sign-up-name {
    float:left;
    margin:0;
    margin:5px;
    width:240px;
    padding:0;
    padding-left:10px;
    height:40px;
    font-size: 17px;
    border: solid 3px #1B5E20;
}

.sign-up-element {
    margin:0;
    margin:5px;
    width:490px;
    padding:0;
    padding-left:10px;
    height:40px;
    font-size: 17px;
    border: solid 3px #1B5E20;
}

.radio {
    width:auto;
    height: auto;
    margin-top: 17px;
}

.text {
    width:auto;
    line-height: 40px;
    border: none;
    padding:0;
    padding-right:30px;
}

.clearfix:after { 
    content: " ";   
    display: block; 
    height: 0;
    clear: both;
}

.footer {
	width:auto;
	padding-left:30px;
	padding-right:30px;
	background-color:#212121;
	color:#DDDDDD;
	height:40px;
	font-family: Open Sans;
	font-size: 13px;
	line-height:40px;
	text-align:center;
}